<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link href="//fonts.googleapis.com/css?family=Roboto|Open+Sans:400,400italic,300,300italic,600,600italic,700,700italic,800,800italic" rel="stylesheet">
    <link href="./main.css" rel="stylesheet">
</head>

<body>

    <footer>
        <p>Sed ut perspiciatis unde omnis iste natus error sit
            <span>voluptatem</span> accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
            <span>inventore veritatis et quasi architecto</span> beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
            ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        <hr>
        <div>
            <span><span>SAS Example:</span> 23 Avenue Flex Box, 31000 Toulouse - Tél: 05 55 55 55 55 - E-mail : contact@example.com</span>
        </div>
    </footer>

    <header>
        <img src="{{ header.image.url }}" alt="{{ header.image.alt }}">
        <h2>{{ header.title }}</h2>
    </header>

    <table class="who">
        <tr>
            <td>Nom du demandeur</td>
            <td>
                <span class="firstname">Jane</span>
                <span class="lastname">doe</span>
            </td>
        </tr>
        <tr>
            <td>Période de Remboursement</td>
            <td>Juillet 2016</td>
        </tr>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Désignation</th>
                <th>Complément d'information</th>
                <th>Date</th>
                <th>Montant HT</th>
                <th>Montant TVA</th>
                <th>Montant TTC</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Forfait Téléphonique</td>
                <td></td>
                <td class="date">01/07/2016</td>
                <td class="price">13,33</td>
                <td class="price">2,67</td>
                <td class="price">15,99</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Forfait Internet</td>
                <td></td>
                <td class="date">02/07/2016</td>
                <td class="price">26,65</td>
                <td class="price">5,18</td>
                <td class="price">31,98</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Frais repas individuel</td>
                <td></td>
                <td class="date">16/06/2016</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Frais repas individuel</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Frais repas individuel</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr><td>6</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>7</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>8</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>9</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>11</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>12</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>13</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>14</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>15</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>16</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>17</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>18</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>19</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>20</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>21</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>22</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>23</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>24</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>25</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td colspan="3">Total note de frais</td>
                <td class="price">66,92</td>
                <td class="price">10,37</td>
                <td class="total">78,77 €</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3">Montant d'avance à déduire</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3">Total à Rembourser</td>
                <td></td>
                <td></td>
                <td class="total">78,77 €</td>
            </tr>
        </tfoot>
    </table>

    <div class="signature">
        <div>
            <div>Signature du demandeur</div>
            <small>(Nom suivi de la date et de sa signature)</small>
        </div>
        <div>
            <div>Visa de validation</div>
            <small>(Nom suivi de la date et de sa signature)</small>
        </div>
    </div>

    <span class="template">M203.v1.0</span>
</body>

</html>
